# Backend API
NEXT_PUBLIC_API_URL=http://localhost:8000

# Azure Entra External ID
NEXT_PUBLIC_AZURE_CLIENT_ID=
NEXT_PUBLIC_AZURE_TENANT_ID=
NEXT_PUBLIC_AZURE_AUTHORITY=https://login.microsoftonline.com/<tenant-id>
NEXT_PUBLIC_AZURE_REDIRECT_URI=http://localhost:3000
